/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028; /*тёмная - меняется на светлый*/
  --accent-color: #ff0070; /*тёмная - меняется на чёный*/
  --accent-color-decor: #ff0070; /*тёмная - меняется на прозрачный*/
  --accent-bg-color: #ff0070; /*тёмная - меняется на розовый*/
  --content-text-color: #f1b2ce; /*тёмная - меняется на чёный*/
  --main-title-text-color: #db00ff; /*тёмная - меняется на более светлый розовый*/
  --titles-text-color: #000028; /*тёмная - меняется на чёрный*/
  --shadow-text-color: #ff0070; /*тёмная - меняется на светло-розовый*/
  --shadow-text-color-decktop: #ff0070; /*общее*/
  --main-font: "IBM Plex Mono"; /*общее*/
  --background-image: url(../images/cover-image-dark.png); /*тёмная - меняется на светлый*/
}
